[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL="mongodb://44.212.69.54:27017/catalogue"
ExecStart=/bin/node /app/server.jss
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target